<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
    <link rel="stylesheet" href="/css/searchStyle.css" >
    <link rel="stylesheet" href="/css/navBarStyle.css" >
    <link rel="stylesheet" href="/css/profile.css" >


    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5N49F1ZJB2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-5N49F1ZJB2');

</script>

</head> 

<body>

    <!-- Navbar which can be reused across other pages -->
    <%- include('../partials/navbar'); %>
  <div class="container">

        <div class="row">
            <% for(let i=0; i<sportsToUser[sportName]?.length; i++) { %>
                <div class="column" style="background-color:#aaa;">
                <div class="search-container">
                    <% let user = sportsToUser[sportName][i]; %> 
                    <a href="profile?name=<%= userProfileData[user].name %>" target="_blank"><h1><%= userProfileData[user].name %></h1></a>
                    <% for(let i=0; i<userProfileData[user].listings.length; i++) { %>
                        <% if (userProfileData[user].listings[i].category == sportName) { %> 
                            <p><%= userProfileData[user].listings[i].name %></p>
                            <img src="<%= userProfileData[user].listings[i].imgUrl %>" width="400">
                        <% } %>
                    <% } %>
                </div>
                </div>
            <% } %>
            <!-- <div class="column" style="background-color:#aaa;">
                <h2>Column 1</h2>
                <p>Some text..</p>
            </div> -->
        </div>

        
           
    </div>
        
</body>
</html>