<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profiles</title>
    <link rel="stylesheet" href="/css/profile.css" >
    <link rel="stylesheet" href="/css/navBarStyle.css" >
    <link rel="stylesheet" href="/css/starrating.css">
    <link rel="stylesheet" href="/css/detailStyle.css">

    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5N49F1ZJB2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-5N49F1ZJB2');
</script>

<script>
    let stars = document.getElementsByClassName("star");
    let output = document.getElementById("output");
 
// Funtion to update rating
function gfg(n) {
    remove();
    for (let i = 0; i < n; i++) {
        if (n == 1) cls = "one";
        else if (n == 2) cls = "two";
        else if (n == 3) cls = "three";
        else if (n == 4) cls = "four";
        else if (n == 5) cls = "five";
        stars[i].className = "star " + cls;
    }
    output.innerText = "Rating is: " + n + "/5";
}
 
// To remove the pre-applied styling
function remove() {
    let i = 0;
    while (i < 5) {
        stars[i].className = "star";
        i++;
    }
}
</script>

</head>
<body class="bg">

<div class="row">
    <div class="column">
        <div class="profile-container">
            <h1><u>Profile Name: <%= profileName %> </u></h1>
            <h2><span class="rating-score">Rating: <%= userProfileData[profileName].rating %></span></h2>
            <h2>Listings:</h2>
            <div class="listings">
                <% for(let i=0; i<userProfileData[profileName].listings.length; i++) { %>
                    <div class="card">
                        <div class="card-content">
                            <p><%= userProfileData[profileName].listings[i].name %></p>
                            <div class="profile-description"><%= userProfileData[profileName].listings[i].description %></div>
                            <img src="<%= userProfileData[profileName].listings[i].imgUrl %>" alt="Tennis Shoes" width="400">
                        </div>
                    </div>
                <% } %>
            </div>
            <h2>Testimonials:</h2>
            <ul class="testimonials">
                <% for(let i=0; i<userProfileData[profileName].testimonials.length; i++) { %>
                    <li><%= userProfileData[profileName].testimonials[i] %></li>
                <% } %>
            </ul>
        
            <h2>Contact Me:</h2>
            <p> <%= userProfileData[profileName].contact.message %> (<a href=<%= userProfileData[profileName].contact.email %>><%= userProfileData[profileName].contact.email %> </a> OR <a href="https://t.me/<%= userProfileData[profileName].contact.telegram %>>" target="_blank">@<%= userProfileData[profileName].contact.telegram %></a>)</p>
        
        </div>
    </div>
    <div class="column">
        <div class="card rating-container">
            <div class="column"><h4>Rate Me:</h4></div>
            <div class="rating-star-container column">
            <span onclick="gfg(1)"
                  class="star">★
            </span>
            <span onclick="gfg(2)"
                  class="star">★
            </span>
            <span onclick="gfg(3)"
                  class="star">★
            </span>
            <span onclick="gfg(4)"
                  class="star">★
            </span>
            <span onclick="gfg(5)"
                  class="star">★
            </span>
            </div>
            <!-- <h3 id="output">
                  Rating is: 0/5
              </h3> -->
        </div>
    </div>
</div>

<%- include('../partials/navbar'); %>


</body>
</html>
